.heatMap{
	height: 100%;
	width: 100%;
	background-color: #fff;
	display: flex;
}

.square {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .8rem;
}

.heatMapRow{
	height: 100%;
	width: 100%;
}

.rowWrapper{
	height: 100%;
  width: 100%;
}
