.heatMap{
	height: 100%;
	width: 100%;
	display: flex;
	overflow: hidden;
}

.square {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: .8rem;
}

.heatMapRow{
	height: 100%;
	width: 100%;
}

.rowWrapper{
	height: 100%;
  width: 100%;
}

.mainWrapper{
	display: flex;
	height: 100%;
	width: 100%;
}

.heatmapAndYlabels{
	display: flex;
	height: 100%;
	width: 100%;
}

.heatMapAndXlabels{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.titleAndHeatmap{
	height: 100%;
}
